/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #010626;
    color: #ffffff;
}

/* Encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #020f59;
    color: #fff;
    padding: 10px 0;
    text-align: right;
}

header .foto-perfil img {
    margin-right: 20px;
    margin-left: 50px;
    width: 100px;
    height: 120px;
    border-radius:8px;
    object-fit: cover;
    margin-bottom: 10px;
    background-color: #f9f9f9; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación */
}

header .foto-perfil img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
    box-shadow: 0 5px 20px #8491d9; /* Sombra más intensa */
}

header .informacion-personal h1 {
    flex: 1;
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Secciones */
section {
    padding: 30px 0;
}

section h2 {
    color: #ffffff;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

/* Sección de habilidades */
#habilidades ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#habilidades ul li {
    background-color: #020f59;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px #8491d9; /* Sombra */
}



#habilidades p{
    text-align: center;
    margin-top: 5px;
}

/* Sección de proyectos */

#proyectos {
    
    box-shadow: #8491d9;

}

.project{
    display: flex; /* Activa el modelo de caja flexible */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px #8491d9; /* Sombra para un diseño limpio */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación */
}

.project:hover {
    transform: scale(1.02); /* Efecto de zoom al pasar el mouse */
    box-shadow: 0 6px 12px #8491d9; /* Sombra más intensa */
}

.proyecto {
    display: flex; /* Activa el modelo de caja flexible */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #020f59; /* Fondo blanco para destacar */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación */
}

.proyecto:hover {
    transform: scale(1.02); /* Efecto de zoom al pasar el mouse */
    box-shadow: 0 6px 12px #8491d9; /* Sombra más intensa */
}

.proyecto h3 {
    margin-top: 0;
    color: #555;
    text-align: center; /* Centra el texto del título */
}

.proyecto img {
    max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
    border-radius: 5px; /* Bordes redondeados para las imágenes */
    margin-bottom: 10px; /* Espacio entre la imagen y el contenido */
}

/* Sección de íconos de proyectos*/
.project-icons {
    margin-top: 20px; /* Espacio entre la imagen del proyecto y los íconos */
}

.project-icons h2 {
    margin-bottom: 10px; /* Espacio entre el título y los íconos */
    font-size: 1.0em; /* Tamaño del texto del título */
    color: #ffffff; /* Color del título */
}

.project-icons ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra los íconos horizontalmente */
    gap: 15px; /* Espacio entre los íconos */
    flex-wrap: wrap; /* Permite que los íconos se ajusten en varias filas si es necesario */
}

.project-icons ul li img {
    width: 30px; /* Tamaño de los íconos */
    height: 30px;
    transition: transform 0.3s ease; /* Animación al pasar el mouse */
}

.project-icons ul li img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

/* Sección de contacto */
#contacto {
    text-align: center;
}

#contacto ul {
    list-style: none;
    padding: 0;
}

#contacto ul li {
    display: inline-block;
    align-items: center;
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #020f59;
    border-radius: 5px;
    box-shadow: 0 4px 8px #8491d9; /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación */
    margin-bottom: 10px;
}

#contacto ul li img {
    vertical-align: middle; /* Alinea el logo con el texto */
    margin-right: 10px; /* Espacio entre el logo y el texto */
    width: 30px; /* Ajusta el tamaño del logo */
    height: 30px; /* Ajusta el tamaño del logo */
}

#contacto ul li img:hover {
    transform: scale(1.2); /* Efecto de zoom al pasar el mouse */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación */
}
#contacto ul li a {
    color: #337ab7;
    text-decoration: none;
}

/* Pie de página */
footer {
    background-color: #020f59;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    height: 35px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #010b40; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación */
}

section:hover {
    transform: scale(1.02); /* Efecto de zoom al pasar el mouse */
    box-shadow: 0 6px 12px #8491d9; /* Sombra más intensa */
}

.main-content {
    display: flex;
    justify-content: space-between; /* Espacia las secciones horizontalmente */
    flex-wrap: nowrap; /* Permite que las secciones se apilen en pantallas pequeñas */
}

#habilidades, #proyectos {
    width: 100%; /* Ancho de cada sección en pantallas grandes */
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column; /* Apila las secciones en pantallas pequeñas */
        width: 100%; /* Ancho completo en pantallas pequeñas */
    }

    #habilidades, #proyectos {
        width: 87%; /* Ancho completo en pantallas pequeñas */
    }
}

.icon-copy{
    width: 20px; /* Ajusta el tamaño del icono de copiar */
    height: 20px; /* Ajusta el tamaño del icono de copiar */
    margin-right: 5px; /* Espacio entre el icono y el texto */
    vertical-align: middle; /* Alinea el icono con el texto */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación */
}

.icon-copy:hover{
    transform: scale(1.02); /* Efecto de zoom al pasar el mouse */
    color: #8491d9; /* Cambia el color al pasar el mouse */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.logo {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza la animación */
}

.logo:hover {
    transform: scale(1.2); /* Aumenta el tamaño del logo al pasar el mouse */
    cursor: pointer; /* Cambia el cursor a pointer */
}



